@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

a, button {
  cursor: pointer;
}

.hide-page {
  display: none;
}

main {
  height: 100vh;
  display: flex;
}

.error-wrapper {
  text-align: center;
  color: #1e1e1e;
  margin: auto;
}

.error-wrapper h1 {
  font-size: 40px;
  line-height: 40px;
}

.error-wrapper p {
  margin: 20px 0 60px;
  font-size: 20px;
  line-height: 20px;
}

.error-wrapper a {
  color: #3369f3;
  font-size: 11px;
  line-height: 11px;
}

.window-form {
  width: 340px;
  height: auto;
  box-sizing: border-box;
  background: #fff;
  border-radius: 12px;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  display: flex;
  box-shadow: 0 0 6px #00000024;
}

.window-form h1 {
  text-align: center;
  color: #1e1e1e;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.window-form .input-block {
  margin-top: 30px;
  position: relative;
}

.window-form .input-block .input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #3369f3;
  padding: 7px 0;
}

.window-form .input-block .placeholder {
  color: #999;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  transition: transform .5s;
  position: absolute;
  bottom: 7px;
  left: 0;
}

.window-form .input-block .input:focus ~ .placeholder, .window-form .input-block .input:not(:placeholder-shown) ~ .placeholder {
  transition: transform .5s;
  transform: translateX(-10%)translateY(-23px)scale(.8);
}

.window-form .input-block .input-error {
  color: #ff2f2f;
  opacity: 0;
  font-size: 8px;
  font-weight: 400;
  line-height: 8px;
  position: absolute;
  bottom: -13px;
  left: 0;
}

.window-form .input-block .input-error_active {
  opacity: 1;
}

.window-form .button-wrapper {
  margin-top: auto;
  padding-top: 60px;
}

.button, .input {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
}

.button {
  width: 280px;
  height: 37px;
  color: #fff;
  background: #3369f3;
  border: 0;
  border-radius: 8px;
  margin: auto;
}

._bg-wite {
  color: #3369f3;
  background: #fff;
  font-size: 11px;
  line-height: 11px;
}

.wrapper-chats {
  height: 100%;
  overflow-y: auto;
}

.chats-list {
  height: 100%;
  max-width: 310px;
  box-sizing: border-box;
  border-right: 2px solid #eaeaea;
  grid-template-rows: 102px auto;
  padding: 10px;
  display: grid;
}

.chats-list .a-wrapper {
  text-align: right;
  padding: 10px 21px 21px;
}

.chats-list .a-wrapper a {
  color: #999;
  position: relative;
}

.chats-list .a-wrapper a .arrow-top, .chats-list .a-wrapper a .arrow-bottom {
  width: 1.5px;
  height: 8px;
  background: #999;
  position: absolute;
  top: 0;
  right: -12px;
}

.chats-list .a-wrapper a .arrow-top {
  transform: translateY(8.7px)rotate(45deg);
}

.chats-list .a-wrapper a .arrow-bottom {
  transform: translateY(4px)rotate(-45deg);
}

.chats-list header {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 14px;
}

.chats-list header .search {
  color: #999;
  background: #eaeaea;
  border-radius: 5px;
  display: flex;
  position: relative;
}

.chats-list header .search input, .chats-list header .search button {
  background: none;
  border: none;
}

.chats-list header .search input {
  width: 100%;
  height: 32px;
  padding: 10px 10px 0 10px 0;
  box-sizing: border-box;
}

.chats-list header .search button {
  height: auto;
  width: auto;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px 12px;
  top: 0;
  left: 0;
}

.chats-list header .search span {
  height: 100%;
  width: 25px;
  display: block;
  position: relative;
}

.chats-list header .search .lupa:before, .chats-list header .search .lupa:after {
  content: "";
  height: 12px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.chats-list header .search .lupa:before {
  width: 12px;
  border: 2px solid #999;
  border-radius: 100%;
}

.chats-list header .search .lupa:after {
  width: 3px;
  background: #999;
  top: 11px;
  left: 15px;
  transform: rotate(-45deg);
}

.wrapper-messages-container::-webkit-scrollbar, .wrapper-chats::-webkit-scrollbar {
  display: none;
}

.wrapper-messages-container, .wrapper-chats {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat {
  height: auto;
  height: 71px;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
  display: flex;
}

.chat section {
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
}

.chat .section-2 {
  box-sizing: border-box;
  width: 100%;
  justify-content: start;
  padding: 12px 10px;
}

.chat .section-2 p {
  color: #999;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 4px;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  overflow: hidden;
}

.chat .massage {
  color: #999;
  font-size: 12px;
  line-height: 15px;
}

.chat .massage-time {
  text-align: right;
  color: #999;
  font-size: 9px;
  line-height: 13px;
}

.chat .massage-counter {
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  background: #3369f3;
  border-radius: 100%;
  font-size: 11px;
  line-height: 20px;
}

.img-interlocutor {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.name-interlocutor {
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
}

.empty-list {
  text-align: center;
  width: 100%;
  display: flex;
}

.empty-list .empty-text {
  color: #999;
  margin: auto;
  font-size: 12px;
  line-height: 12px;
}

.message-list {
  width: 100%;
  grid-template-rows: 54px auto 54px;
  padding: 10px;
  display: grid;
}

.message-list header, .message-list footer {
  z-index: 3;
  background: #fff;
}

.message-list header {
  box-sizing: border-box;
  height: 54px;
  width: auto;
  border-bottom: 1px solid #eaeaea;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  display: flex;
  top: 0;
}

.message-list header .name-interlocutor {
  width: 100%;
  margin-left: 10px;
}

.message-list header .img-interlocutor {
  width: 34px;
  height: 34px;
}

.message-list header .option {
  flex-direction: column;
  display: flex;
}

.message-list header .option .point {
  width: 4px;
  height: 4px;
  background: #1e1e1e;
  border-radius: 50%;
  margin: 2px 7px;
}

.message-list .wrapper-messages-container {
  max-height: calc(100vh - 120px);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.message-list .wrapper-messages-container .wrapper-messages {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 10px;
  display: flex;
}

.message-list .wrapper-messages-container .wrapper-messages .message {
  box-sizing: border-box;
  max-width: 400px;
  height: auto;
  width: auto;
  margin: 10px 0;
  padding: 11px;
  position: relative;
}

.message-list .wrapper-messages-container .wrapper-messages .message time {
  font-size: 9px;
  line-height: 9px;
  position: absolute;
  bottom: 11px;
  right: 11px;
}

.message-list .wrapper-messages-container .wrapper-messages .message p {
  color: #1e1e1e;
  width: auto;
  font-size: 12px;
  line-height: 15px;
}

.message-list .wrapper-messages-container .wrapper-messages .interlocutor-message {
  background: #eaeaea;
  border-radius: 0 20px 20px;
  align-self: flex-start;
}

.message-list .wrapper-messages-container .wrapper-messages .interlocutor-message time {
  color: #999;
}

.message-list .wrapper-messages-container .wrapper-messages .my-message {
  background: #e4edfd;
  border-radius: 20px 20px 0;
  align-self: flex-end;
}

.message-list .wrapper-messages-container .wrapper-messages .my-message time {
  color: #3369f3;
}

.message-list footer {
  box-sizing: border-box;
  height: 54px;
  width: auto;
  border-top: 1px solid #eaeaea;
  align-items: center;
  margin: 0 10px;
  padding: 10px 0;
  display: flex;
  bottom: 0;
}

.message-list footer form {
  height: auto;
  width: 100%;
  grid-template-columns: 28px auto 28px;
  align-items: center;
  column-gap: 10px;
  display: grid;
}

.message-list footer form input {
  height: 32px;
  box-sizing: border-box;
  color: #999;
  width: 100%;
  background: #eaeaea;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.message-list footer form button {
  width: 28px;
  height: 28px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
}

.message-list footer form .button-attach {
  background: none;
}

.message-list footer form .sending-button {
  background: #3369f3;
  border-radius: 50%;
}

.profile-page {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  display: flex;
}

.profile-page aside {
  width: 40px;
  height: 100%;
  background: #f8f8f8;
  border-right: 2px solid #eaeaea;
  position: fixed;
  left: 0;
}

.profile-page aside div {
  height: 100%;
  display: flex;
}

.profile-page aside div button {
  width: 28px;
  height: 28px;
  color: #fff;
  background: #3369f3;
  border-radius: 50%;
  margin: auto;
  transform: rotate(180deg);
}

.profile-page section {
  max-width: 510px;
  width: 100%;
  text-align: left;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
}

.profile-page section form {
  flex-direction: column;
  display: flex;
}

.profile-page section form .button {
  margin-top: 40px;
}

.profile-page section ul {
  flex-direction: column;
  display: flex;
}

.profile-page section li {
  color: #1e1e1e;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 13px;
  line-height: 13px;
  display: flex;
}

.profile-page section li .edit {
  background: #eaeaea;
  border-radius: 16px;
  padding: 0 5px;
  color: #858585 !important;
}

.profile-page section li input {
  text-align: right;
  color: #999;
  background: none;
  font-size: 13px;
  line-height: 13px;
}

.profile-page section a {
  color: #3369f3;
  font-size: 13px;
  line-height: 13px;
}

.profile-page section .a-redtext {
  color: #ff2f2f;
}

.profile-page section .profile-img-wrapper, .profile-page section .profile-img, .profile-page section .profile-img-editor {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.profile-page section .profile-img-wrapper {
  cursor: pointer;
  margin: 0 auto 20px;
  font-size: 13px;
  line-height: 14px;
  position: relative;
}

.profile-page section .profile-img-wrapper .profile-img-editor {
  background: #858585;
  top: 0;
}

.profile-page section .profile-img-wrapper .profile-img-label {
  z-index: 2;
  color: #fff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-page section .profile-img-wrapper .profile-img-label, .profile-page section .profile-img-wrapper .profile-img-editor {
  opacity: 0;
  cursor: pointer;
  transition: all .5s;
  position: absolute;
}

.profile-page section .profile-img-wrapper:hover .profile-img-label, .profile-page section .profile-img-wrapper:hover .profile-img-editor {
  transition: all .5s;
}

.profile-page section .profile-img-wrapper:hover .profile-img-editor {
  opacity: .5;
}

.profile-page section .profile-img-wrapper:hover .profile-img-label {
  opacity: 1;
}

.profile-page section .profile-nickname {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.modal-window_active .background {
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: 4;
  background: #000;
  position: absolute;
  top: 0;
}

.modal-window_active .button-for-remove-image, .modal-window_active .modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-window_active .modal-form {
  z-index: 5;
  box-sizing: border-box;
  width: 340px;
  height: 300px;
  text-align: center;
  background: #fff;
  border-radius: 12px;
  flex-direction: column;
  padding: 30px 20px;
  display: flex;
  box-shadow: 0 0 6px #00000024;
}

.modal-window_active .modal-form h1 {
  font-size: 15px;
  line-height: 20px;
}

.modal-window_active .modal-form .load-file-wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  height: 100%;
  border-radius: 50%;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.modal-window_active .modal-form .load-file-wrapper img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.modal-window_active .modal-form .load-file-wrapper .drop-zone {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #3369f3;
  border: 6px solid #3369f3;
  border-radius: 50%;
  justify-content: center;
  margin: auto;
  font-size: 100px;
  font-weight: bold;
  display: flex;
}

.modal-window_active .modal-form .load-file-wrapper ._none {
  display: none;
}

.modal-window_active .modal-form .load-file-wrapper .button-for-remove-image {
  opacity: 0;
  width: auto;
  height: auto;
  cursor: pointer;
  background: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 50px;
  transition: all .5s;
}

.modal-window_active .modal-form .load-file-wrapper:hover .button-for-remove-image {
  opacity: 1;
  background: none;
  transition: all .5s;
}

.modal-window .modal-form, .modal-window .background {
  display: none;
}

