<div class="loader-box">
    <div class="loader-container">
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
    </div>
</div>
