<div class="profile-img-wrapper">
    <img class="profile-img" src="{{avatar}}" alt="Ваше изображение" />
    <label id="profileImgLabel" class="profile-img-label">Поменять аватар</label>
    <div id="profileImgEditor" class="profile-img-editor" name="avatar"></div>
</div>
<h2 class="profile-nickname">{{display_name}}</h2>
