<main class="profile-page">
    <aside id="profileBackPage">
        <div>
            <button
                onclick="window.location.href = 'http://localhost:3000/chats'"
            >&#10230;</button>
        </div>
    </aside>
    <section>
        <div class="profile-img-wrapper">
            <img class="profile-img" src="{{img}}" alt="" />
            <label id="profileImgLabel" class="profile-img-label">Поменять
                аватар</label>
            <div id="profileImgEditor" class="profile-img-editor"></div>
        </div>
        <h2 class="profile-nickname">{{nickName}}</h2>
    </section>
    {{{ProfileData}}}
</main>