<main class="profile-page">
    <aside id="profileBackPage">
        <div>
            <button
                type="button"
                onclick="window.ChangeRouter('/chats')"
            >&#10230;</button>
        </div>
    </aside>
    <section>
        <div class="profile-img-wrapper">
            <img class="profile-img" src="{{img}}" alt="Ваше изображение" />
            <label id="profileImgLabel" class="profile-img-label">Поменять
                аватар</label>
            <div
                id="profileImgEditor"
                class="profile-img-editor"
                name="avatar"
            ></div>
        </div>
        <h2 class="profile-nickname">{{nickName}}</h2>
    </section>
    {{{ProfileForm}}}
</main>
