<img
    src="{{img}}"
    alt="Изображение Вашего собеседника {{name}}"
    class="img-interlocutor"
/>
<h2 class="name-interlocutor">{{name}}</h2>
<a href="" class="option">
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
</a>
