<ul>
    <li>
        <a id="editData">Изменить данные</a>
    </li>
    <li>
        <a id="editPassword">Изменить пароль</a>
    </li>
    <li>
        <a id="logOut" class="a-redtext">Выйти</a>
    </li>
</ul>
