<main>
    <form id="authForm" onSubmit="event.preventDefault();" class="window-form">
        <h1>{{title}}</h1>
        <ul id="inputsBlock"></ul>
        <div id="buttonsBlock" class="button-wrapper"></div>
    </form>
</main>
