{{#if name}}
    <header id="chatHeader">
    </header>
    <div id="wrapper-messages-container" class="wrapper-messages-container">
        <section id="messageList" class="wrapper-messages">
        </section>
    </div>
    <footer>
        <form>
            <div id="footerModalWrapper"></div>
            <button
                id="footerOption"
                type="button"
                class="button-attach"
            >&#128206;</button>
            <input type="text" placeholder="Сообщение" name="message" />
            <button type="submit" class="sending-button">&#10230;</button>
        </form>
    </footer>
{{else}}
    {{! <section class="empty-list"> }}
    <article class="empty-text">Выберите чат чтобы отправить сообщение</article>
    {{! </section> }}
{{/if}}
