<main>
    <section class="chats-list">
        <header>
            <div class="a-wrapper">
                <a id="redirectionToProfile">Профиль
                    <div class="arrow-top"></div>
                    <div class="arrow-bottom"></div>
                </a>
            </div>
            <form class="search">
                <button type="submit">
                    <span class="lupa"></span>
                </button>
                <input type="text" placeholder="Поиск" />
            </form>
        </header>
        <section id="conversations" class="wrapper-chats">
        </section>
    </section>
    <section id="chatMain" class="message-list">
    </section>
</main>
