<main id="mainChatPage">
    <section class="chats-list">
        <header>
            <div class="a-wrapper">
                <a id="redirectionToProfile">Профиль
                    <div class="arrow-top"></div>
                    <div class="arrow-bottom"></div>
                </a>
            </div>
            <form id="{{formId}}" class="search">
                <button type="submit">
                    <span class="lupa"></span>
                </button>
                <input type="text" name="search" placeholder="Поиск" />
            </form>
        </header>
        <section id="conversations" class="wrapper-chats">
        </section>
        <div id="createModalWrapper">
        </div>
    </section>
    <section id="chatMain" class="message-list">
    </section>
    <div id="modalWrapper">
    </div>
    <div id="buttonsAndPopup"></div>
</main>
