<section>
    <form action="">
        <ul>
            {{{InputDataEdit}}}
        </ul>
        {{#if dataEdit}}
            {{{Button}}}
        {{else}}
        {{/if}}
    </form>
</section>
<section>
    {{{InputDataController}}}
</section>
