<main class="profile-page">
    <aside id="profileBackPage">
        <div>
            <button id="backToChats" type="button">&#10230;</button>
        </div>
    </aside>
    <section id="profileHeader">
    </section>
    <section>
        <form action="">
            <ul id="profileData">
            </ul>
            {{#if dataEdit}}
                {{{Button}}}
            {{else}}
            {{/if}}
        </form>
    </section>
    <section id="profileButtons">
    </section>
</main>
<div id="profilePage">
</div>
