<div id="modalWindow" class="modal-window">
    <div id="background" class="background"></div>
    <form id="modalForm" class="modal-form" action="">
        <h1>{{title}}</h1>
        <div id="loadFileWrapper" class="load-file-wrapper">
            <div id="dropZone" class="drop-zone">+</div>
        </div>
        {{{button}}}
    </form>
</div>
