@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$color-1: #1e1e1e;
$color-2: #3369f3;
$color-white-1: #ffffff;
$color-white-2: #999999;
$color-white-3: #eaeaea;
$color-white-4: #f8f8f8;
$color-white-5: #e8e8e8;
$color-white-6: #e4edfd;
$color-white-7: #858585;
$color-shadow: rgba(0, 0, 0, 0.14);
$color-red: #ff2f2f;
$color-black: black;

.input-block {
    position: relative;
    margin: 15px 0;
    .input {
        border: 0;
        border-bottom: 2px solid $color-2;
        width: 100%;
        padding: 7px 0;
    }
    .placeholder {
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: $color-white-2;
        position: absolute;
        bottom: 7px;
        left: 0;
        transition: transform 500ms;
    }
    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
        transform: translateX(-10%) translateY(-23px) scale(0.8);
        transition: transform 500ms;
    }
    .input-error {
        font-weight: 400;
        font-size: 8px;
        line-height: 8px;
        color: $color-red;
        opacity: 0;
        position: absolute;
        bottom: -13px;
        left: 0;
    }
    .input-error_active {
        opacity: 1;
    }
}

* {
    font-family: "Inter", sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    outline: none;
    list-style-type: none;
}

a,
button {
    cursor: pointer;
}

.hide-page {
    display: none;
}

main {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.error-wrapper {
    margin: auto auto;
    text-align: center;
    color: $color-1;
    h1 {
        font-size: 40px;
        line-height: 40px;
    }
    p {
        margin: 20px 0 60px;
        font-size: 20px;
        line-height: 20px;
    }
    a {
        font-size: 11px;
        line-height: 11px;
        color: $color-2;
    }
}

.window-form {
    width: 340px;
    height: auto;
    background: $color-white-1;
    box-shadow: 0px 0px 6px $color-shadow;
    border-radius: 12px;
    margin: auto auto;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    h1 {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: $color-1;
    }
    .inputs-block {
        margin: 30px 0;
    }

    .button-wrapper {
        margin-top: auto;
    }
}

.button,
.input {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
}
.button {
    border: 0;
    border-radius: 8px;
    width: 280px;
    height: 37px;
    background: $color-2;
    color: $color-white-1;
    margin: auto;
}
._bg-wite {
    background: $color-white-1;
    color: $color-2;
    font-size: 11px;
    line-height: 11px;
}

.wrapper-chats {
    height: 100%;
    overflow-y: auto;
}
.chats-list {
    display: grid;
    grid-template-rows: 102px auto;
    border-right: 2px solid $color-white-3;
    height: 100%;
    max-width: 310px;
    box-sizing: border-box;
    padding: 10px;
    .a-wrapper {
        text-align: right;
        padding: 10px 21px 21px;
        a {
            color: $color-white-2;
            position: relative;
            .arrow-top,
            .arrow-bottom {
                background: $color-white-2;
                width: 1.5px;
                height: 8px;
                right: -12px;
                top: 0px;
                position: absolute;
            }
            .arrow-top {
                transform: translateY(8.7px) rotate(45deg);
            }
            .arrow-bottom {
                transform: translateY(4px) rotate(-45deg);
            }
        }
    }
    header {
        padding-bottom: 14px;
        border-bottom: 1px solid $color-white-3;
        .search {
            position: relative;
            border-radius: 5px;
            background: $color-white-3;
            color: $color-white-2;
            display: flex;
            input,
            button {
                border: none;
                background: transparent;
            }
            input {
                width: 100%;
                height: 32px;
                padding: 10px 10px 0 10px 0;
                box-sizing: border-box;
            }
            button {
                height: auto;
                width: auto;
                top: 0;
                left: 0;
                cursor: pointer;
                padding: 5px 12px;
                box-sizing: border-box;
            }
            span {
                height: 100%;
                width: 25px;
                display: block;
                position: relative;
            }
            .lupa:before,
            .lupa:after {
                content: "";
                height: 12px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
            .lupa:before {
                width: 12px;
                border: 2px $color-white-2 solid;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
            }
            .lupa:after {
                width: 3px;
                background: $color-white-2;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                top: 11px;
                left: 15px;
            }
        }
    }
}

.wrapper-messages-container::-webkit-scrollbar,
.wrapper-chats::-webkit-scrollbar {
    display: none;
}
.wrapper-messages-container,
.wrapper-chats {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat {
    height: auto;
    height: 71px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-white-3;
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .section-2 {
        justify-content: start;
        box-sizing: border-box;
        padding: 12px 10px;
        width: 100%;
        p {
            margin-top: 4px;
            font-size: 12px;
            line-height: 15px;
            color: $color-white-2;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    .massage {
        font-size: 12px;
        line-height: 15px;
        color: $color-white-2;
    }
    .massage-time {
        font-size: 9px;
        line-height: 13px;
        text-align: right;
        color: $color-white-2;
    }
    .massage-counter {
        background: $color-2;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        color: $color-white-1;
        text-align: center;
        font-size: 11px;
        line-height: 20px;
    }
}

.img-interlocutor {
    border-radius: 50%;
    width: 47px;
    height: 47px;
}
.name-interlocutor {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: $color-1;
}
.empty-list {
    display: flex;
    text-align: center;
    width: 100%;
    .empty-text {
        margin: auto;
        font-size: 12px;
        line-height: 12px;
        color: $color-white-2;
    }
}
.mini-modal {
    position: absolute;
    opacity: 0;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
}
.mini-modal_active {
    opacity: 1;
    li {
        cursor: pointer;
    }
}
.message-list {
    display: grid;
    grid-template-rows: 54px auto 54px;
    padding: 10px 10px;
    width: 100%;
    header,
    footer {
        z-index: 3;
        background: $color-white-1;
    }
    header {
        position: relative;
        box-sizing: border-box;
        height: 54px;
        display: flex;
        padding: 10px;
        margin: 0 10px;
        border-bottom: 1px solid $color-white-3;
        align-items: center;
        width: auto;
        top: 0;
        .mini-modal {
            top: -100px;
            right: 0;
            padding: 5px 10px;
            li {
                margin: 10px 0;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
        }
        .mini-modal_active {
            top: 65px;
        }
        .name-interlocutor {
            margin-left: 10px;
            width: 100%;
        }
        .img-interlocutor {
            width: 34px;
            height: 34px;
        }
        .option {
            display: flex;
            flex-direction: column;
            .point {
                margin: 2px 7px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: $color-1;
            }
        }
    }
    .wrapper-messages-container {
        max-height: calc(100vh - 120px);
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        .wrapper-messages {
            padding: 20px 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            height: auto;
            .message {
                box-sizing: border-box;
                max-width: 400px;
                height: auto;
                width: auto;
                position: relative;
                padding: 11px;
                margin: 10px 0;
                time {
                    position: absolute;
                    bottom: 11px;
                    right: 11px;
                    font-size: 9px;
                    line-height: 9px;
                }
                p {
                    font-size: 12px;
                    line-height: 15px;
                    color: $color-1;
                    width: auto;
                }
            }
            .interlocutor-message {
                border-radius: 0 20px 20px 20px;
                background: $color-white-3;
                align-self: flex-start;
                time {
                    color: $color-white-2;
                }
            }
            .my-message {
                align-self: flex-end;
                border-radius: 20px 20px 0 20px;
                background: $color-white-6;
                time {
                    color: $color-2;
                }
            }
        }
    }
    footer {
        box-sizing: border-box;
        height: 54px;
        display: flex;
        padding: 10px 0;
        margin: 0 10px;
        border-top: 1px solid $color-white-3;
        align-items: center;
        width: auto;
        bottom: 0;
        form {
            position: relative;
            height: auto;
            width: 100%;
            display: grid;
            grid-template-columns: 0 28px auto 28px;
            column-gap: 10px;
            align-items: center;
            .mini-modal {
                bottom: -100px;
                padding: 5px 10px;
                li {
                    margin: 10px 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
            .mini-modal_active {
                height: auto;
                bottom: 55px;
            }
            input {
                height: 32px;
                box-sizing: border-box;
                border-radius: 30px;
                background: $color-white-3;
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
                color: $color-white-2;
                padding: 10px 20px;
                width: 100%;
            }
            button {
                width: 28px;
                height: 28px;
                color: $color-white-1;
                font-size: 15px;
                font-weight: 900;
                text-align: center;
            }
            .button-attach {
                background: none;
            }
            .sending-button {
                border-radius: 50%;
                background: $color-2;
            }
        }
    }
}

.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    aside {
        position: fixed;
        width: 40px;
        background: $color-white-4;
        border-right: 2px solid $color-white-3;
        height: 100%;
        left: 0;
        div {
            height: 100%;
            display: flex;
            button {
                margin: auto auto;
                width: 28px;
                height: 28px;
                background: $color-2;
                border-radius: 50%;
                color: $color-white-1;
                transform: rotate(180deg);
            }
        }
    }
    section {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        form {
            display: flex;
            flex-direction: column;
            .button {
                margin-top: 40px;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
        }
        li {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            font-size: 13px;
            line-height: 13px;
            color: $color-1;
            border-bottom: 1px solid $color-white-3;
            .edit {
                padding: 0 5px;
                color: $color-white-7 !important;
                background: $color-white-3;
                border-radius: 16px;
            }
            input {
                text-align: right;
                background: none;
                font-size: 13px;
                line-height: 13px;
                color: $color-white-2;
            }
        }
        a {
            font-size: 13px;
            line-height: 13px;
            color: $color-2;
        }
        .a-redtext {
            color: $color-red;
        }
        max-width: 510px;
        width: 100%;
        .profile-img-wrapper,
        .profile-img,
        .profile-img-editor {
            width: 130px;
            height: 130px;
            border-radius: 50%;
        }
        .profile-img-wrapper {
            cursor: pointer;
            margin: 0 auto;
            margin-bottom: 20px;
            position: relative;
            font-size: 13px;
            line-height: 14px;
            .profile-img-editor {
                background: $color-white-7;
                top: 0;
            }
            .profile-img-label {
                z-index: 2;
                color: $color-white-1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            .profile-img-label,
            .profile-img-editor {
                position: absolute;
                opacity: 0;
                transition: 0.5s;
                cursor: pointer;
            }
        }
        .profile-img-wrapper:hover {
            .profile-img-label,
            .profile-img-editor {
                transition: 0.5s;
            }
            .profile-img-editor {
                opacity: 0.5;
            }
            .profile-img-label {
                opacity: 1;
            }
        }
        .profile-nickname {
            text-align: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
        }
        text-align: left;
    }
}

.modal-window_active {
    .background {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: $color-black;
        opacity: 0.4;
        z-index: 4;
    }
    .button-for-remove-image,
    .modal-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-sizing: border-box;
        padding: 30px 30px;
        width: 340px;
        max-height: 300px;
        height: auto;
        background: $color-white-1;
        box-shadow: 0px 0px 6px $color-shadow;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        ul {
            margin: 15px 0;
        }
        h1 {
            font-size: 15px;
            line-height: 20px;
        }
        .load-file-wrapper {
            margin: auto;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 150px;
            height: 150px;
            margin: 10px auto;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            img {
                height: 100%;
                width: auto;
                object-fit: cover;
            }
            .drop-zone {
                box-sizing: border-box;
                margin: auto;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                font-size: 100px;
                font-weight: bold;
                border: 6px solid $color-2;
                user-select: none;
                cursor: pointer;
                border-radius: 50%;
                color: $color-2;
            }
            ._none {
                display: none;
            }
            .button-for-remove-image {
                opacity: 0;
                padding: 5px;
                width: auto;
                height: auto;
                cursor: pointer;
                border-radius: 50%;
                font-size: 50px;
                transition: 0.5s;
                background: none;
            }
        }
        .load-file-wrapper:hover {
            .button-for-remove-image {
                opacity: 1;
                background: none;
                transition: 0.5s;
            }
        }
    }
}
.modal-window {
    .modal-form,
    .background {
        display: none;
    }
}
